.about-me {
  padding: 5px 15px;
  text-align: center;
  border-radius: 2%;
  margin: -8px;
}

.about-me h2 {
  color: var(--white-1);
  text-align: left;
}

.about-me p {
  font-size: 16px;
  color: var(--light-gray);
  line-height: 1.6;
  margin: 20px auto;
  text-align: left;
}

.about-me-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  color: var(--white-1);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me .build-line {
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--white-1);
}

.about-me .container .description {
  font-weight: 300;
  font-family: var(--ff-poppins);
}

.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }
}

.card {
  display: flex;
  align-items: center;
  background: var(--border-gradient);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0.5px 1px #afada1;
  min-width: 320px;
  color: #fff;
  transition: transform 0.2s;
  border: 1px solid #333;
  text-align: left;
}

.card:hover {
  transform: scale(1.05);
}

.card-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  filter: invert(1) sepia(0) saturate(0) brightness(100%);
}

.card-content h3 {
  margin: 0;
  font-size: 1.3rem;
  color: white;
}

.card-content p {
  margin: 5px 0 0;
  color: var(--light-gray);
}

.skills {
  color: var(--white-2);
  margin-top: 50px;
  text-align: left;
}

.skills h2 {
  font-size: 24px;
  font-weight: bold;
}

.skills-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
}

.skill-category {
  background: var(--border-gradient);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0.5px 1px #afada1;
}

.skill-category h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--white-1);
}

.skill-category ul {
  list-style: none;
  padding: 0;
}

.skill-category ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
  }
}