<section class="about-me">
    <div class="container">
      <h2>About Me</h2>
      <p class="intro">
        Myself and I
      </p>
      <p class="description">{{ description }}</p>
    </div>
    <p class="build-line">What I build.</p>

    <div class="card-container">
      <div class="card">
        <img src="assets/backend.png" alt="Backend" class="card-icon" />
        <div class="card-content">
          <h3>Backend Development</h3>
          <p>Building robust and scalable server-side solutions.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/web-dev.png" alt="Web" class="card-icon" />
        <div class="card-content">
          <h3>Web Development</h3>
          <p>Creating responsive and dynamic web applications.</p>
        </div>
      </div>
    </div>

  <div class="skills">
    <h2>Skills</h2>
    <div class="skills-container">
        <div class="skill-category">
            <h3>Languages</h3>
            <ul>
              <li>Java</li>
                <li>Dart</li>
                <li>Typescript</li>
                <li>Html</li>
                <li>Css</li>
            </ul>
        </div>
        <div class="skill-category">
            <h3>Frameworks</h3>
            <ul>
                <li>Spring Boot</li>
                <li>Angular</li>
                <li>Flutter</li>
            </ul>
        </div>
        <div class="skill-category">
            <h3>Databases</h3>
            <ul>
                <li>PostgreSQL</li>
                <li>MySQL</li>
            </ul>
        </div>
        <div class="skill-category">
            <h3>Tools</h3>
            <ul>
                <li>Docker</li>
                <li>Git & Github</li>
                <li>Vercel</li>
            </ul>
        </div>
    </div>
  </div>
  </section>
  