<div class="contact-container">
  <h2>Contact Me</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group">
        <input id="fullName" formControlName="fullName"  placeholder=" Full name"/>
        <div *ngIf="f.fullName?.invalid && (f.fullName?.touched || submitted)" class="error">
          Full Name is required and must be at least 2 characters.
        </div>
      </div>

      <div class="form-group">
        <input id="email" formControlName="email" placeholder="Email address" />
        <div *ngIf="f.email?.invalid && (f.email?.touched || submitted)" class="error">
          A valid email is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <input id="subject" formControlName="subject" placeholder="Subject" />
      <div *ngIf="f.subject?.invalid && (f.subject?.touched || submitted)" class="error">
        Subject is required and must be at least 3 characters.
      </div>
    </div>

    <div class="form-group">
      <textarea id="message" formControlName="message" placeholder="Message "></textarea>
      <div *ngIf="f.message?.invalid && (f.message?.touched || submitted)" class="error">
        Message is required and must be at least 10 characters.
      </div>
    </div>

    <div class="button-wrapper">
      <button type="submit" [disabled]="contactForm.invalid || loading">
        {{ loading ? 'Sending...' : 'Submit' }}
      </button>
    </div>
  </form>

  <div *ngIf="loading" class="loading-message success">
    ⏳ Sending your message...
  </div>

  <div *ngIf="success && !loading" class="success">
    ✅ Your message has been sent successfully!
  </div>

  <div *ngIf="errorMessage && !loading" class="error">
    ❌ {{ errorMessage }}
  </div>
</div>
