<section class="skills">
    <div class="skills-container">
      <div class="skill" id="springBoot">
        <div class="skill-icon">
          <img src="assets/spring-boot.svg" alt="Spring Boot">
        </div>
        <p class="skill-name">Spring Boot</p>
      </div>
      <div class="skill" id="htmlCss">
        <div class="skill-icon">
          <img src="assets/java.svg" alt="Java">
        </div>
        <p class="skill-name">Java</p>
      </div>
      <div class="skill" id="jsAngular">
        <div class="skill-icon">
          <img src="assets/typescript.svg" alt="Typescript">
        </div>
        <p class="skill-name">Typescript</p>
      </div>
      <div class="skill" id="git">
        <div class="skill-icon">
          <img src="assets/angular.svg" alt="Angular">
        </div>
        <p class="skill-name">Angular</p>
        <div class="subskills">
            <p class="subskill-name">HTML</p>
            <p class="subskill-name">CSS</p>
          </div>
      </div>
    </div>
  </section>
  