* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  gap: 50px;
  transition: transform 0.5s ease-in-out;
}

.nav-links li {
  list-style: none;
}

.nav-number {
  font-size: 0.9rem;
  color: rgb(18, 214, 214);
  margin-right: 5px;
  font-weight: 300;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.nav-item {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.nav-item:hover .nav-number {
  color: rgb(18, 214, 214);
}


.nav-item:hover {
  color: rgb(18, 214, 214);
  text-shadow: 0 0 8px rgba(18, 214, 214, 0.8), 
               0 0 16px rgba(18, 214, 214, 0.6), 
               0 0 24px rgba(18, 214, 214, 0.4);
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 8px rgba(18, 214, 214, 0.8), 
                 0 0 16px rgba(18, 214, 214, 0.6), 
                 0 0 24px rgba(18, 214, 214, 0.4);
  }
  to {
    text-shadow: 0 0 16px rgba(18, 214, 214, 1), 
                 0 0 32px rgba(18, 214, 214, 0.8), 
                 0 0 48px rgba(18, 214, 214, 0.6);
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
