<nav class="navbar">
  <div class="wip-banner">
    <span>👨‍🍳🚧 This portfolio is still in progress. </span>
  </div>
  <ul class="nav-links" [class.active]="isMenuActive">
    <li>
      <a 
        routerLink="/about" 
        class="nav-item" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        #rlaAbout="routerLinkActive">
        About
      </a>
    </li>
    <li>
      <a 
        routerLink="/resume" 
        class="nav-item" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        #rlaResume="routerLinkActive">
        Resume
      </a>
    </li>
    <li>
      <a 
        routerLink="/projects" 
        class="nav-item" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        #rlaProjects="routerLinkActive">
        Projects
      </a>
    </li>
    <li>
      <a 
        routerLink="/contact" 
        class="nav-item" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }" 
        #rlaContact="routerLinkActive">
        Contact
      </a>
    </li>
  </ul>
  <div class="hamburger" (click)="toggleMenu()" [class.active]="isMenuActive">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>
<div class="container">
  <!-- Now I have to work on Alignment & Symmetry -->
</div>
