<app-three-bg></app-three-bg>
<div class="container">
  <div class="profile-card">
    <button 
    class="show-contacts-btn" 
    *ngIf="isMobileScreen" 
    (click)="showContacts = !showContacts">
    <i class="fa" [ngClass]="{'fa-chevron-down': !showContacts, 'fa-chevron-up': showContacts}"></i>
  </button>
  <div class="profile-header" [ngClass]="{'side-by-side': isMobileScreen}">
    <div class="avatar-container">
      <div class="avatar">
        <img src="assets/luffy.jpg" alt="Profile avatar">
      </div>
      <div class="status-indicator">
        <span class="status-text">Open to work</span>
      </div>
    </div>
  
    <div class="name-title">
      <h1 class="name">Thabo Tshabalala</h1>
      <p class="title">Backend Developer</p>
    </div>
  </div>
  

    <div class="divider"></div>

    <div class="contact-info" *ngIf="!isMobileScreen || showContacts">
      <div class="info-item">
        <div class="icon-container">
            <img src="assets/email.png" alt="Email Icon">
        </div>
        <div class="info-content">
          <p class="info-label">EMAIL</p>
          <p class="info-value">
            <a href="mailto:justicethabo21&#64;gmail.com" class="email-link">justicethabo21&#64;gmail.com</a>
          </p>
        </div>
      </div>

      <div class="info-item">
        <div class="icon-container">
            <img src="assets/phone.png" alt="Email Icon">
        </div>
        <div class="info-content">
          <p class="info-label">PHONE</p>
          <p class="info-value">+277 **** ****</p>
        </div>
      </div>

      <div class="info-item">
        <div class="icon-container">
            <img src="assets/location.png" alt="Email Icon">
        </div>
        <div class="info-content">
          <p class="info-label">LOCATION</p>
          <p class="info-value">Cape Town</p>
        </div>
      </div>
    </div>

    <div class="social-links" *ngIf="!isMobileScreen || showContacts">
      <a href="https://www.linkedin.com/in/thabo-tshabalala-44ba20206/" class="social-icon" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-linkedin"></i>
      </a>      
      <a href="https://github.com/Thabo-Tshabalala" class="social-icon" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-github"></i>
      </a>
      <a href="https://twitter.com/idontusetwitter,just4Ui" class="social-icon" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-twitter"></i>
      </a>
      
    </div>
  </div>

<div class="right-container">
  <router-outlet></router-outlet>
</div>


