<app-three-bg></app-three-bg>
<div class="container">
    <div class="profile-card">
      <div class="avatar-container">
        <div class="avatar">
          <img src="assets/luffy.jpg" alt="Profile avatar">
        </div>
        <div class="status-indicator"></div>
      </div>
  
      <h1 class="name">Thabo Tshabalala</h1>
      <p class="title">Backend Developer</p>
  
      <div class="divider"></div>
  
      <div class="contact-info">
        <div class="info-item">
          <div class="icon-container">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="info-content">
            <p class="info-label">EMAIL</p>
            <p class="info-value">1lo0v3coding.gmail.com</p>
          </div>
        </div>
  
        <div class="info-item">
          <div class="icon-container">
            <i class="fa fa-phone"></i>
          </div>
          <div class="info-content">
            <p class="info-label">PHONE</p>
            <p class="info-value">+1L0v3C0d1NG*****</p>
          </div>
        </div>
  
        <div class="info-item">
          <div class="icon-container">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="info-content">
            <p class="info-label">LOCATION</p>
            <p class="info-value">Wood Stock, Cape Town</p>
          </div>
        </div>
      </div>
  
      <div class="social-links">
        <a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-github"></i></a>
        <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
