<app-three-bg></app-three-bg>
<div class="container">
  <div class="profile-card">
    <div class="avatar-container">
      <div class="avatar">
        <img src="assets/luffy.jpg" alt="Profile avatar">
      </div>
      <div class="status-indicator"></div>
    </div>

    <h1 class="name">Thabo Tshabalala</h1>
    <p class="title">Backend Developer</p>

    <div class="divider"></div>

    <div class="contact-info">
      <div class="info-item">
        <div class="icon-container">
            <img src="assets/email.png" alt="Email Icon">
        </div>
        <div class="info-content">
          <p class="info-label">EMAIL</p>
          <p class="info-value">1lo0v3coding.gmail.com</p>
        </div>
      </div>

      <div class="info-item">
        <div class="icon-container">
            <img src="assets/phone.png" alt="Email Icon">
        </div>
        <div class="info-content">
          <p class="info-label">PHONE</p>
          <p class="info-value">+277 **** ****</p>
        </div>
      </div>

      <div class="info-item">
        <div class="icon-container">
            <img src="assets/location.png" alt="Email Icon">
        </div>
        <div class="info-content">
          <p class="info-label">LOCATION</p>
          <p class="info-value">Cape Town</p>
        </div>
      </div>
    </div>

    <div class="social-links">
      <a href="#" class="social-icon"><i class="fa fa-linkedin"></i></a>
      <a href="#" class="social-icon"><i class="fa fa-github"></i></a>
      <a href="#" class="social-icon"><i class="fa fa-twitter"></i></a>
    </div>
  </div>

  <div class="right-container">
    <!-- This is where all of my content will go -->
     <app-about-me></app-about-me>
  </div>

